<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <title>{% block title %}{% endblock %} | Watson Conversation Manager</title>
    {% endblock %}
</head>

<body>

<!--Header-->
<header>
<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="{{ url_for('static', filename='watson-logo-clear.png') }}" alt="Watson logo"/>
                Watson Conversation Manager
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div><!--/.container-fluid -->
</nav>
</header>

<!--Content-->
<div class="container">
    {% include "flash_messages.html" %}
    {% block content %}{% endblock %}
</div>

<!--Footer-->
<footer>
    <div class="container">
    {% block footer %}
    Built by IBM
    {% endblock %}
    </div>
</footer>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table.min.js') }}"></script>
</body>
</html>
