{% extends "layout.html" %}
{% block title %}{{workspace['name']}}{% endblock %}
{% block content %}

<h1>{{workspace['name']}}</h1>
<h3><strong>Description: </strong>{{workspace['description']}}</h3>
<br>
<p>
<h4>Test</h4>

{% from "_formhelpers.html" import render_field %}
<form class="form-inline">
    {{ render_field(form.utterance) }}
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% if intents: %}
<h4>Intents from input utterance "{{utterance}}":</h4>
<table class="table table-bordered">
    <tr>
        <th class="col-md-1">Intent</th>
        {% for intent in intents %}
        <td>{{ intent['intent'] }}</td>
        {% endfor %}
    </tr>

    <tr>
        <th class="col-md-1">Confidence</th>
        {% for intent in intents %}
        <td>{{ intent['confidence'] }}</td>
        {% endfor %}
    </tr>
</table>
{% endif %}

</p>
{% if repeats: %}
<br>
<h4>Repeat Examples</h4>
<table class="table">
    <tr>
        {% for example in repeats %}
        <th>{{ example }}</th>
        {% endfor %}
    </tr>
    {% for i in range(max_repeats) %}
    <tr>
        {% for example in repeats %}
        <td>{{ repeats[example][i] if i < repeats[example]|length }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
<br>
<h4>Intents</h4>
<table class="table">
    <tr>
        {% for intent in workspace['intents'] %}
        <th>{{ intent['intent'] }}</th>
        {% endfor %}
    </tr>
    {% for ex in range(max_examples) %}
    <tr>
        {% for intent in workspace['intents'] %}
        <td>{{ intent['examples'][ex]['text'] if ex < intent['examples']|length }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br><br>
<h4>Workspace JSON:</h4>
<div class="json">

</div>


<script type="text/javascript" src="{{ url_for('static', filename='json-formatter.js') }}"></script>
<script>
    const myJSON = {{workspace | tojson}};
    const formatter = new JSONFormatter(myJSON);
    document.querySelector(".json").appendChild(formatter.render());
</script>
{% endblock %}
